$background-colour: #232f3e;

.basket-add-quick {
  background: $background-colour;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
  position: fixed;
  width: 100%;
  z-index: 700;

  .a-button-text.a-declarative {
    padding-top: 1.5rem;
  }
}

.off-screen { // invisible only
  height: 1px !important;
  left: -999em !important;
  overflow: hidden !important;
  position: absolute !important;
  width: 1px !important;
}
