$challenge-01: #00c200;

* {
    color: $challenge-01;
    text-transform: capitalize;
}

.thing {
  display: grid;
  transition: all .7s;
  user-select: none;
  background: linear-gradient(to bottom, white, black); 
}

h1 {
  font-style: italic;
}
