$background-colour: #232f3e;
$foreground-colour: #fff;

.basket-add-quick {
  background: $background-colour;
  bottom: 0;
  display: flex;
  padding: 15px;
  position: fixed;
  width: 100%;
  z-index: 700;
}

.off-screen { // invisible only
  height: 1px !important;
  left: -999em !important;
  overflow: hidden !important;
  position: absolute !important;
  width: 1px !important;
}
